[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/nvidia_smi_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
